name: build

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build container image
        run: docker build -t gitsoviet:${{ github.sha }} .
